form {
    text-align: center;
    padding: 10px 20px
}

form>label>input {
    padding: 2px;
    margin-bottom: 2px;
}

form>label>input:focus {
    color: red;
}

form>input:hover {
    background-color: red;
    transition: 0.5s;
}